<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered">
    <tr>
        <th>Student Name</th>
        <th>Age</th>
        <th>School Name</th>
        <th>Location</th>
        <th>Principal</th>
    </tr>
    {% for i in n %}
    <tr>

        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.school.name}}</td>
        <td>{{i.school.location}}</td>
        <td>{{i.school.principal}}</td>

    </tr>
    {% endfor %}

</table>
{{name}}
{{school}}
{% endblock %}